:root {
  --primary-pink-color: #FF5678;
  --secondary-green-color: #149770;
  --light-gray-color: #F6F2EF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}
